absl-py
astunparse
backcall
cachetools
certifi
charset-normalizer
colorama
cycler
debugpy
decorator
entrypoints
flatbuffers
fonttools
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
ipykernel
ipython
jedi
joblib
jupyter-client
jupyter-core
keras
Keras-Preprocessing
kiwisolver
libclang
Markdown
matplotlib
matplotlib-inline
nest-asyncio
numpy
oauthlib
opt-einsum
packaging
pandas
parso
pickleshare
Pillow
prompt-toolkit
protobuf
pyasn1
pyasn1-modules
Pygments
pyparsing
python-dateutil
pytz
pywin32
pyzmq
requests
requests-oauthlib
rsa
scikit-learn
scipy
six
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow==2.7.0
tensorflow-estimator
tensorflow_examples
tensorflow-io-gcs-filesystem
termcolor
tfrec
threadpoolctl
tornado
traitlets
typing-extensions
urllib3
wcwidth
Werkzeug
wrapt
